html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fafafa;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
}

.switch-container--normal-size {
  width: 640px;
  height: 640px;
}

.col {
  width: 33.333333333%;
  display: flex;
  justify-content: center;
}

.col--normal-size {
  width: 20%;
}

.counter-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.counter {
  font-size: 4rem;
  color: #eeeeee;
}
